<%- include("partials/header") %>
	
	<div class="w-2/3 p-8 bg-gradient-to-r from-green-400 to-blue-500">
		<% mails.forEach(function(mail) => {

			<div class="bg-white w-1/2 p-2 m-2">
				<h1> <%= mail.header %> </h1>
				<h2> <%= mail.email %> </h2>
				<p> <%= mail.content %> </p>
			</div>
	
		<% }) %>
	</div>

<%- include("partials/footer") %>